<!DOCTYPE html>
<html lang="en">
<title>WellSAP Upload Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.ws-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="ws-top">
  <div class="ws-bar ws-red ws-card ws-left-align ws-large">
    <a class="ws-bar-item ws-button ws-hide-medium ws-hide-large ws-right ws-padding-large ws-hover-white ws-large ws-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('home') }}" class="ws-bar-item ws-button ws-padding-large ws-white">Home</a>
    <a href="{{ url_for('about') }}" class="ws-bar-item ws-button ws-padding-large ws-white">About</a>

  </div></div>

<!-- Header -->
<header class="ws-container ws-red ws-center" style="padding:128px 16px">
    <form name="wellform" action="{{ url_for('result')}}" method="post" enctype="multipart/form-data">
        <input type="file" name="fileupload" id="fileToUpload"><br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large ws-button ws-black ws-padding-large ws-large ws-margin-top">Upload File (.csv)</button>
    </form>
</header>

<div class="ws-container ws-black ws-center ws-opacity ws-padding-64">
    <h1 class="ws-margin ws-xlarge">Health is a state of the body.<br>Wellness is a state of being.</h1>
</div>

<!-- Footer -->
<footer class="ws-container ws-padding-64 ws-center ws-opacity">  
 <a href="https://github.com/aaditagarwal/WellSAP" target="_blank">WellSAP : Made by Team 42 for Code with SAP Labs India</a>
</footer>

</body>
</html>
